# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Lambda deployment packages
*.zip

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log
